@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');


:root {
    --color-primario-700: #3d325c;
    --color-primario-300: #aca0f2;
    --color-primario-200: #e1defc;
    --color-primario-100: #f4f1fe;
    --color-primario-50: #fbfafc;
    --fuente-principal: 'DM Sans', sans-serif;
}

body {

    background-color: var(--color-primario-100);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente-principal);
    color: var(--color-primario-700);
}

header {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    padding: 20px 40px;
    background-color: var(--color-primario-200);
}

.Header__navegador_ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    font-weight: 600;
}

.content-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul, ol {
    list-style: none;
}


.logo-header {
    font-family: 'Pinyon Script', cursive;
    font-size: 28px;
    font-weight: 400;
    color: var(--color-primario-700);
}

    



.pildora-descarga {
    background-color: var(--color-primario-300);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    color:var(--color-primario-300 );
    justify-content: end;
    ;
}

.texto-descarga {
    color: black;

.Header__navegador:hover {
    color: var(--color-primario-300);
    cursor: pointer;
} 

.texto-li {
    color: black;
    padding: 20px;
}